* {
	padding: 0;
	margin: 0;
}

body, html {
    padding: 0px;
    margin: 0px;
    background: #f2f2f2;
}

.module {
	width: 100%;
	min-height: 110px;
	margin-bottom: 10px;
}

.title {
	margin: 0;
	padding: 0;
}

#map {
	width: 100%;
	min-height: 80vh;
	margin: 0;
	padding: 0;
	z-index: 1;
}

.markerContainer{
	background-color: blue;
}

#timeline {
	margin: 20px;
	z-index: 100;
}

.brush .selection{
	stroke: none;
	fill: darkgray;
}